.text-primary{
    color:orange;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    
}
.nav-size{
    font-size:45px;
    color:black;
    font-weight:800;
}
ul {
    display:flex;
}
ul li{
    list-style:none;
    margin-right:50px;
}
ul li a{
    text-decoration: none;
    color:cornflowerblue;
}
.btn-class{
    border-radius:5px;
    background-color: orange;
}