.text-primary{
    color:orange;
}
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
     justify-content: space-between;
    align-items: center;
    
}
nav>ul{
    display: flex;
    align-items: center;
}
.nav-size{
    font-size:45px;
    color:black;
    font-weight:800;
}
ul {
    display:flex;
}
ul li{
    list-style:none;
    margin-right:50px;
}
ul li a{
    text-decoration: none;
    color:cornflowerblue;
}
.btn-class{
    border-radius:5px;
    background-color: orange;
    border:none;
    padding:15px 15px 15px 18px;
    color:white;
}
.header{
    background-color: #FFF8F3;
}